<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <system.webServer>
    <aspNetCore>
      <environmentVariables>
        <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Production" xdt:Transform="SetAttributes" xdt:Locator="Match(name)" />
        <environmentVariable name="ASPNETCORE_HTTPS_PORT" xdt:Transform="Remove" xdt:Locator="Match(name)"/>
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>