<?xml version="1.0" encoding="utf-8" ?>
<RunSettings>
  <DataCollectionRunSettings>
    <DataCollectors>
      <DataCollector friendlyName="XPlat Code Coverage">
        <Configuration>
          <Exclude>[*.Applikasjonsmodell]*,[*.Datalag]*ContextModelSnapshot,[*.MockApis]*,[*.Mock]*</Exclude>
          <ExcludeByAttribute>Migration, GeneratedCode</ExcludeByAttribute>
        </Configuration>
      </DataCollector>
    </DataCollectors>
  </DataCollectionRunSettings>
</RunSettings>